<ion-content>
  <canvas id="canvas" width="1000" height="400" [hidden]="game.gameOver"></canvas>
  <div class="game-over" [hidden]="!game.gameOver">
  <h4>PONTUAÇÃO FINAL</h4>
    <h2 style="color: green;">
      {{ game.score }}
    </h2>
  </div>

  <div align="center" class="score">
    {{ game.score }}
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
      </ion-col>
      <ion-col align="center" size="6">
        <ion-button shape="round" color="warning" size="large" expand="block" (click)="changeDirectionAxleY(-1)">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button shape="round" color="warning" size="large" expand="block" (click)="changeDirectionAxleX(-1)">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6" align="right">
        <ion-button shape="round" color="warning" size="large" expand="block" (click)="changeDirectionAxleX(1)">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="3">
      </ion-col>
      <ion-col align="center" size="6">
        <ion-button shape="round" color="warning" size="large" expand="block" (click)="changeDirectionAxleY(1)">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
